{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/avencos.myshopify.com/products/configure/188278/edit
{% endcomment %}
{% if product.metafields.custom_fields["layer_3"] != blank %}
  <div class="custom-field custom-field__layer-3 custom-field__type--text">
    <h3 class="custom-field--title">Layer 3</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["layer_3"] }}
    </div>
  </div>
{% endif %}