{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/avencos.myshopify.com/products/configure/211590/edit
{% endcomment %}
{% if product.metafields.custom_fields["featured_title"] != blank %}
  <div class="custom-field custom-field__featured-title custom-field__type--text">
    <h3 class="custom-field--title">Featured Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_title"] }}
    </div>
  </div>
{% endif %}