

{% assign title = block.settings.title %}


<div id="shopify-section-16034123082c134740" class="shopify-section faqColumn">
    <div class="container"> 
        <div class="one-third column text-column"> 
            <h2 class="title" data-live-text-setting="section.16034123082c134740.title">
                Product <br>Details
            </h2>
        </div> 
        <div class="two-thirds column text-column"> 
            <dl class="accordion"> 
                <dt> 
                    <a href="#" aria-expanded="false">
                        <small class="right">+</small>Measurements &amp; Dimensions
                    </a>
                </dt> 
                <dd aria-hidden="true" style="display: none;" data-live-text-setting="section.16034123082c134740.block.92c362ea-9bae-42ec-8ba1-f4e3aaec9772.answer"> 
                    <ul class="table"> 
                        <li> 
                            <p><strong>Twin</strong></p> 
                            <p>39" W x 75" L x 10" H</p> 
                            <p>38.5 lbs</p>
                        </li> 
                        <li> 
                            <p><strong>Twin XL</strong></p> 
                            <p>39" W x 80" L x 10" H</p> 
                            <p>39 lbs</p>
                        </li> 
                        <li> 
                            <p><strong>Full</strong></p> 
                            <p>54" W x 75" L x 10" H</p> 
                            <p>52 lbs</p>
                        </li> 
                        <li> 
                            <p><strong>Queen</strong></p> 
                            <p>60" W x 80" L x 10" H</p> 
                            <p>62 lbs</p>
                        </li> 
                        <li> 
                            <p><strong>King</strong></p> 
                            <p>76" W x 80" L x 10" H</p> 
                            <p>76 lbs</p>
                        </li> 
                        <li> 
                            <p><strong>Cal King</strong></p> 
                            <p>73" W x 84" L x 10" H</p> 
                            <p>76 lbs</p>
                        </li> 
                        <li>
                        </li>
                    </ul>
                </dd> 
                {% comment %} <dt> 
                    <a href="#" aria-expanded="false">
                        <small class="right">+</small>Materials &amp; Certifications
                    </a>
                </dt> 
                <dd aria-hidden="true" style="display: none;" data-live-text-setting="section.16034123082c134740.block.16034123082c134740-1.answer"> 
                    <strong>3 Layer Construction</strong> 
                    <ul> 
                        <li>
                            <strong>2CM</strong> Gel-infused Memory Foam
                        </li> 
                        <li>Premium High-density Foam thickness:</li> 
                            <p>10 Inch mattress: <strong>3CM</strong></p>
                            <p></p>
                            <p>12 Inch mattress: <strong>8CM</strong></p>
                            <p></p>
                        <li>
                            <strong>20CM</strong> 5-zone Individual Pocket Spring
                        </li>
                    </ul> 
                    <p><strong>CertiPUR-US ®-Certified</strong></p> 
                    <ul> 
                        <li>Made without ozone depleters</li> 
                        <li>Made without PBDE flame retardants</li> 
                        <li>Made without mercury, lead, and other heavy metals</li> 
                        <li>Made without formaldehyde</li> 
                        <li>Made without phthalates regulated by the Consumer Product Safety Commission</li>
                    </ul>
                </dd>  {% endcomment %}
                <dt> 
                    <a href="#" aria-expanded="false">
                        <small class="right">+</small>Shipping &amp; Warranty
                    </a>
                </dt> 
                <dd aria-hidden="true" style="display: none;" data-live-text-setting="section.16034123082c134740.block.3c2b2003-9285-4f9c-8cfa-a4a889a2b7f0.answer"> 
                    <p>
                    <strong>Shipping</strong>
                    </p> 
                    <p>Offered in the US, free shipping to all 48 contiguous states. We ship the mattress in the United States from warehouse partners in various cities.</p> 
                    <p><strong>Warranty</strong></p> 
                    <p>10-Year Limited Warranty.</p>
                    <p><strong>Every Avenco product comes with our promise:</strong></p> 
                    <ul> 
                        <li>No harmful substance</li> 
                        <li>Fire proof</li> 
                        <li>Strict quality control</li> 
                        <li>100 nights trial</li> 
                        <li>10 years support</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

<style>
  #shopify-section-16034123082c134740 {
    padding: 80px 0px;
  }

  #shopify-section-16034123082c134740.faqColumn h2.title {
    font-size: 30px;
  }

  @media only screen and (max-width: 798px) {
    #shopify-section-16034123082c134740 {
      padding: 25px 0px;
    }
    #shopify-section-16034123082c134740.faqColumn h2.title {
      font-size: 18px;
    }
  }
</style>
</div>