{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.sale_banner' %}
  {% include 'custom_fields.products.layer_1' %}
  {% include 'custom_fields.products.layer_2' %}
  {% include 'custom_fields.products.layer_3' %}
  {% include 'custom_fields.products.layer_4' %}
  {% include 'custom_fields.products.layer_5' %}
  {% include 'custom_fields.products.product_title' %}
  {% include 'custom_fields.products.featured_title' %}
  {% include 'custom_fields.products.compare_section_1' %}
  {% include 'custom_fields.products.compare_section_2' %}
  {% include 'custom_fields.products.compare_section_3' %}
  {% include 'custom_fields.products.compare_section_4' %}
  {% include 'custom_fields.products.compare_section_5' %}
  {% include 'custom_fields.products.compare_section_6' %}
  {% include 'custom_fields.products.compare_section_7' %}
  {% include 'custom_fields.products.compare_section_8' %}
  {% include 'custom_fields.products.compare_section_9' %}
  {% include 'custom_fields.products.compare_section_10' %}
  {% include 'custom_fields.products.product_builder' %}
</div>